/* Fondo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../static/images/ecobot.png'); /* imagen */
    background-size: cover;
    background-position: center;
    color: white;
}

/* Contenedor principal */
.container {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para contraste */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos para el encabezado */
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* Estilos del formulario */
.message-form label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 10px;
}

.message-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 20px;
}

.message-form button {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message-form button:hover {
    background-color: #45a049;
}

/* Lista desplegable de preguntas sugeridas */
#preguntas-sugeridas {
    margin-bottom: 20px;
    text-align: center;
}

#lista-preguntas {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

#lista-preguntas:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Botón de selección alternativo */
button[type="button"] {
    margin: 5px 0;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="button"]:hover {
    background-color: #1976D2;
}

/* Estilo de los resultados */
.result-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.result-container h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.message-text, .prediction-text {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
